<div class="event-page">
  <div class="event-title-block">
    <div class="container">
      <div class="container-padding">
        <div class="title">
          <h2>Событие</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="event-content-block">
    <div class="container">
      <div class="title">
        <h2>{{ event.title }}</h2>
      </div>
      <div class="text">
        <p>{{ event.text }}</p>
      </div>
      <div class="img">
        <img src="{{ event.image }}" alt="event">
      </div>
    </div>
  </div>
</div>

