<main class="about-page">

  <div class="about-block">
    <div class="container">
      <div class="about-block-text">
        <div class="title">
          <h2>О нас</h2>
        </div>
        <div class="text">
          <p>Наша компания — это ассоциация архитекторов и конструкторов. Нас объединяет общее дело — это создание комфортных, правильно спроектированных, согласно канонам ислама, мечетей. Мы знаем, как проектировать, как строить и как вести работу.</p>
          <p>Мы предлагаем вам наши услуги в сфере проектирования мечетей, медресе, зданий для омовений и омовений усопших, трапезных и халяль кафе, магазинов исламской атрибутики, родников.</p>
          <p>Вы можете выбрать из уже готовых проектов, который вам подходит. При необходимости мы можем внести изменения в тот проект, который вам понравился или вы можете заказать у нас новый проект мечети, который будет спроектирован по вашим желаниям под ваши условия.</p>
        </div>
      </div>
      <div class="about-grid">
        <div class="grid-item">
          <img [src]="aboutIcon1Url" alt="icon">
          <div class="title">
            <h3>проектирование мечетей</h3>
          </div>
          <div class="text">
            <p>и медресе, а также сопутствующей<br>инфраструктуры с соблюдением<br>всех правил</p>
          </div>
        </div>
        <div class="grid-item">
          <img [src]="aboutIcon2Url" alt="icon">
          <div class="title">
            <h3>19 лет опыта</h3>
          </div>
          <div class="text">
            <p>мы занимаемся проектированием<br>мечетей с 2005 г. по сей день,<br>накопили немалый опыт. </p>
          </div>
        </div>
        <div class="grid-item">
          <img [src]="aboutIcon3Url" alt="icon">
          <div class="title">
            <h3>более 30 объектов</h3>
          </div>
          <div class="text">
            <p>построены на сегодняйшний день и<br>несколько проектов на этапе<br>реализации</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="information-block">
    <div class="container">
      <div class="text">
        <p>Наша компания “Оста” работает в области проектирования и строительства мечетей. Основанная почти 20 лет назад, компания завоевала доверие многочисленных клиентов благодаря своему опыту, мастерству и приверженности к высокому качеству работы.</p>
        <p>Компания занимается разработкой проектов мечетей различных размеров и стилей, учитывая при этом особенности местности, традиции и культуру региона. Наши архитекторы и инженеры постоянно совершенствуют свои знания и навыки, чтобы создавать уникальные и современные объекты, которые гармонично вписываются в окружающий ландшафт и становятся украшением городов, деревень, сел.</p>
        <p>В нашем портфолио представлены как небольшие мечети для небольших сообществ, так и грандиозные комплексы, способные вместить сотни верующих. Мы также занимаемся реконструкцией и реставрацией исторических мечетей, сохраняя их культурное наследие и восстанавливая их былую славу.</p>
        <p>Спроектировать красивую мечеть, создать ее уникальный образ, которая будет отражать дух нашего времени, дух того места где ее возведут – вот наша задача. Мы стараемся подойти к нашей задаче со всей ответственностью, и не должны допускать халтуры, и все мы должны понимать, что строим Дом Всевышнего. Наша компания это ассоциация архитекторов и конструкторов. Нас объединяет общее дело - это создание комфортных, правильно спроектированных, согласно канонам ислама, мечетей.</p>
        <p>Мы знаем как проектировать, как строить и как вести работу. Для вас мы предлагаем готовые проекты мечетей, которые вы можете привязать к своей территории. Так же мы можем для вас спроектировать индивидуальный проект, по всем вашим требованиям.</p>
      </div>
      <div class="logo">
        <img [src]="logoUrl" alt="logo">
      </div>
    </div>
  </div>


  <div class="step-block">
    <div class="container">
      <div class="step-block-title">
        <h2>Как мы работаем?</h2>
      </div>
      <div class="steps">
        <div class="step">
          <div class="img">
            <img [src]="stepNumber1Img" alt="step">
          </div>
          <div class="title">
            <h3>Связь</h3>
          </div>
          <div class="text">
            <p>Вы связываетесь с нами.</p>
            <p>Заполнить форму ниже, и мы </p>
            <p>вам ответим.</p>
          </div>
        </div>
        <div class="step">
          <div class="img">
            <img [src]="stepNumber2Img" alt="step">
          </div>
          <div class="title">
            <h3>Детали</h3>
          </div>
          <div class="text">
            <p>Мы оговариваем с Вами детали</p>
            <p>проекта, вносим изменения  или</p>
            <p>разрабатываем индивидуальный</p>
          </div>
        </div>
        <div class="step">
          <div class="img">
            <img [src]="stepNumber3Img" alt="step">
          </div>
          <div class="title">
            <h3>Согласование</h3>
          </div>
          <div class="text">
            <p>Мы высылаем вам черновой</p>
            <p>проекта на согласования и</p>
            <p>обсуждение.</p>
          </div>
        </div>
        <div class="step">
          <div class="img">
            <img [src]="stepNumber4Img" alt="step">
          </div>
          <div class="title">
            <h3>Оплата</h3>
          </div>
          <div class="text">
            <p>Вы оплачиваете проект удобным</p>
            <p>для Вас способом</p>
          </div>
        </div>
        <div class="step">
          <div class="img">
            <img [src]="stepNumber5Img" alt="step">
          </div>
          <div class="title">
            <h3>Итог</h3>
          </div>
          <div class="text">
            <p>Мы высылаем паспорт проекта с</p>
            <p>посадкой на ваш участок</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="team-block">-->
<!--    <div class="container">-->
<!--      <div class="team-block-title">-->
<!--        <h2>Наша команда</h2>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <app-achievements></app-achievements>

</main>
