.about-block {
  padding-top: 230px;
  background: url("../../../assets/images/about-page/about-block/background/about-background.png") #000 center;
  height: 1280px;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  color: white;
}

.about-block .about-block-text {
  width: 580px;
}

.about-block .about-block-text .text {
  margin-top: 25px;
}

.about-block .about-block-text .text p {
  font-size: 20px;
  line-height: 28px;
}


.about-block .about-block-img {
  width: 580px;
  margin-left: 20px;
}

.about-block .about-grid {
  display: flex;
  padding: 10px;
  margin-top: 50px;
  flex-wrap: wrap;
  width: 775px;
  justify-content: center;
  gap: 0 100px;
}

.about-block .grid-item {
  /*display: flex;*/
  text-align: center;

}

.grid-item:nth-child(3) {
  flex-basis: 100%;
}

.about-block .grid-item .title h3 {
  font-size: 20px;
  font-weight: 400;
}

.about-block .grid-item .text p {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

@media screen and (max-width: 1279px) {
  .about-block {
    padding-top: 230px;
    height: 1280px;
  }

  .about-block .about-block-text {
    width: 450px;
  }

  .about-block .about-block-text .text p {
    line-height: 22px;
  }

  .about-block .about-grid {
    display: flex;
    text-align: start;
    width: 680px;
    margin-top: 10px;
    gap: 30px 60px;
  }

  .about-block .grid-item {
    /*display: flex;*/
    text-align: center;

  }

  .grid-item:nth-child(1) {
    /*flex-basis: 100%;*/
    margin-right: 50%;
  }
  .grid-item:nth-child(3) {
    flex-basis: 50%;
  }

  .about-block .grid-item .title h3 {
    font-size: 20px;
    font-weight: 400;
  }

  .about-block .grid-item .text {
    line-height: 22px;
    font-size: 15px;
    font-weight: 300;
  }
}





.information-block {
  height: 846px;
  background-color: #F2FAF7;
  align-items: center;
  display: flex;
}

.information-block .logo {
  width: 100%;
  text-align: center;
}

.information-block .text p {
  font-size: 20px;
}

@media screen and (max-width: 1279px) {
  .information-block {
    height: 1000px;
  }


  .information-block .text p {
    margin: 20px 0;
    line-height: 28px;

  }
}




.step-block {
  height: 766px;
  color: white;
  background: black;
  padding: 80px;
  box-sizing: border-box;
  text-align: center;
}

.step-block h2 {
  margin: 0
}

.step-block .steps {
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос на новую строку */
  gap: 60px;
  justify-content: flex-start; /* Вернем равномерное распределение по горизонтали */
}

.step-block .step {
  text-align: center;
}

.step-block .title h3 {
  font-size: 30px;
  font-weight: 400;
  margin: 15px 0;
}

.step-block .text p {
  font-size: 20px;
  margin: 7px 0 0 0;
}

@media screen and (min-width: 1280px) {
  .step-block .step {
    flex: 0 0 calc(33.33% - 60px); /* Три блока в строке, учитывая отступы */
  }

  .step:nth-child(4) {
    margin-left: calc(100% / 6);
  }
}

@media screen and (max-width: 1279px) {
  .step-block {
    height: 839px;
    padding: 40px 0;
  }

  .step-block .steps {
    margin-top: 40px;
    gap: 30px;
  }

  .step-block .step {
    flex: 0 0 calc(50% - 30px); /* Три блока в строке, учитывая отступы */
  }

  .step:nth-child(5) {
    margin-left: 25%;
  }
}





.team-block {
  background: url("../../../assets/images/about-page/team-block/background/team-background.png") #000;
  height: 1280px;
  background-size: cover;
  position: relative;
  padding: 92px 0;
  text-align: center;
}

.team-block h2 {
  color: white;
}

