<footer>
  <div class="container">
    <div class="footer-block">
      <div class="logo">
        <img [src]="logoUrl" alt="logo">
      </div>
      <div class="info">
        <p>© ООО ОСТА ПРОЕКТ. Все права защищены</p>
        <a href="https://yandex.ru/maps/43/kazan/house/ulitsa_amirkhana_yeniki_17b/YEAYdwJiTUIGQFtvfXt5dXpgZw==/?from=mapframe&ll=49.152470%2C55.784633&z=17">
          <p>Адрес: РТ, г. Казань, Амирхана Еники, 17Б</p>
        </a>
        <p>Тел.:
          <a href="tel:+79178958592">89178958592</a>
<!--          <a href="tel:+79274117279">89274117279</a>-->
        </p>
        <a href="mailto:osta-project@yandex.ru?subject=Вопрос&body=Здравствуйте!">
          <p>e-mail: osta-project&#64;yandex.ru</p>
        </a>
      </div>
      <div class="develop">
        <a class="dev link-btn text" href="https://ooo.belem.ru/" target="_blank"><p>Разработано ООО Белем.ру</p></a>
      </div>
    </div>
  </div>
</footer>
