footer {
  background-color: #545454;
  height: 183px;
  align-items: center;
  display: flex;
}

.footer-block {
  display: flex;
  align-items: end;
}

.footer-block p {
  color: white;
  font-size: 15px;
  font-weight: 300;
  margin: 15px 0 0 0;
}

.logo, .info {
  margin-right: 50px;
}

@media screen and (max-width: 1279px) {
  .footer-block {
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  footer {
    height: 300px;
  }

  .footer-block {
    display: block;
  }

  .logo {
    text-align: center;
    margin-right: 0;
  }
}
