<div class="gallery-page">

  <div class="gallery-title-block">
    <div class="container">
      <div class="container-padding">


      </div>
    </div>
  </div>
  <!--    контент-->
  <div class="container">
    <!--    часть с фильтром-->
    <div class="gallery-filter-block">
      <!--    зоголовок-->
      <div class="up-filter-title">
<!--        <h1>Мәчетләр хәзинәсе</h1>-->
      </div>
      <!--    сам фильтер-->
      <div class="filter">
        <div class="filter-capacity-title">
          <p>Сортировка</p>
        </div>
        <div class="filter-capacity-input">
          <div class="p-title"><p>вместимость</p></div>
          <div class="input">
            <label class="capacity-label">
              <input type="checkbox" id="up-to-50" [(ngModel)]="filter.upTo50"> до 50 человк
            </label>
            <label>
              <input type="checkbox" id="from-50-to-100" [(ngModel)]="filter.from50To100"> 50-100 человек
            </label>
            <label>
              <input type="checkbox" id="from-100-to-300" [(ngModel)]="filter.from100To300"> 100-300 человек
            </label>
            <label>
              <input type="checkbox" id="more-300" [(ngModel)]="filter.more300"> более 300 человек
            </label>
          </div>
        </div>
        <div class="filter-status-input">
          <div class="p-title"><p>статус</p></div>
          <div class="input">
            <label class="capacity-label">
              <input type="checkbox" id="sketch" [(ngModel)]="filter.sketch"> эскиз
            </label>
            <label>
              <input type="checkbox" id="built" [(ngModel)]="filter.built"> построенно
            </label>
          </div>
        </div>
        <button (click)="applyFilter()">Apply Filter</button>
      </div>
    </div>
    <!--    Галерея-->
    <div class="gallery-content-block">
      <div class="content-list">
        <div *ngFor="let project of projects">
          <div class="image-content">
            <a routerLink="/gallery/{{ project.id }}">
                <img [src]="project.images[0].src" alt="Image">
            </a>
            <div class="title-content" >
              <p>проект мечети</p>
              <p class="big-p">"{{ project.title }}"</p>
            </div>
            <div class="search-icon">
              <a>
                <img class="for-css" src="../../../assets/images/gallery-page/icons/more-information.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


