<div class="definite-gallery-page">
  <div class="definite-gallery-block">
    <div class="container">
      <div class="container-padding">
        <div class="title">
          <h2>{{ project.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="definite-gallery-content-block">
    <div class="container">
      <div class="image-text">
        <div class="img">
          <img [src]="project.images[0].src" alt="event">
        </div>
        <div class="text">
          <p>{{ project.text }}</p>
        </div>
      </div>

        <div class="content-img">
          <div class="temp-flex">
            <div *ngFor="let image of project.images">
              <div *ngIf="image.id !== 0">
                <div class="image">
                  <img [src]="image.src">
                </div>
              </div>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>
