<div class="definite-gallery-page">
  <div class="definite-gallery-block">
    <div class="container">
      <div class="container-padding">
        <div class="title">
          <h2>{{ project.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="definite-gallery-content-block">
    <div class="container">
      <div class="image-text">
        <div class="img">
          <img [src]="project.images[0].src" [alt]="project.images[0].alt">
        </div>
        <div class="text">
          <div [innerHTML]="project.text"></div>
          <p>Этап разработки: {{ project.development }}</p>
          <p>Вместимость: {{ project.compatibility }} человек</p>
        </div>
      </div>
        <div class="content-img">
          <div class="temp-flex">
            <div *ngFor="let image of project.images; index as i;">
              <div class="image">
                <img [src]="image.src" [alt]="image.alt">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
