.definite-gallery-page {
  padding-top: 0;
}
.definite-gallery-block {
  background: url('../../../assets/images/homeland-page/background/homeland.svg') no-repeat center;
  background-size: cover;
  height: 800px;
}

.definite-gallery-block .title {
  padding-top: 630px;
  color: white;
}

.definite-gallery-title-block .container-padding {
  padding: 140px 0;
  text-align:center;
}

.definite-gallery-content-block {
  padding-bottom: 50px;
}


.definite-gallery-content-block .text p {
  font-size: 20px;
}

.image-text {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}
.img img {
  width: 500px;
  height: 375px;
}

.text {
  width: 600px;
  background: #E6EFEE;
  border-radius: 20px;
  padding: 20px 10px;
}

.content-img .temp-flex {
  padding: 100px 0 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 440px;
  grid-row-gap: 1em;
  grid-row-end: span 2;
}

.image img {
  width: 545px;
}
