.definite-gallery-page {
  padding-top: 0;
}
.definite-gallery-block {
  background: url('../../../assets/images/homeland-page/background/homeland.svg') no-repeat center;
  background-size: cover;
  height: 800px;
}

.definite-gallery-block .title {
  padding-top: 630px;
  color: white;
  text-align:center;
}

.definite-gallery-title-block .container-padding {
  padding: 140px 0;
}

.definite-gallery-content-block {
  padding-bottom: 50px;
}


.definite-gallery-content-block .text p {
  font-size: 20px;
}

.image-text {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}

.img img {
  width: 500px;
  height: 375px;
  object-fit: cover;
}

.text {
  width: 600px;
  background: #E6EFEE;
  border-radius: 20px;
  padding: 20px 10px;
}

.content-img .temp-flex {
  padding: 100px 0 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1em;
  grid-row-end: span 2;
}

.image img {
  width: 545px;
  height: 410px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .definite-gallery-block {
    height: 607px;
  }

  .definite-gallery-block .title {
    padding-top: 470px;
  }

  .definite-gallery-content-block .text p {
    font-size: 15px;
  }

  .image-text {
    padding-top: 70px;
  }

  .img img {
    width: 350px;
    height: 264px;
  }

  .text {
    width: 350px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
  }

  .image img {
    width: 350px;
    height: 263px;
    object-fit: cover;
  }

  .content-img .temp-flex {
    padding: 50px 0 10px 0;
  }
}
