<div class="event-page">
  <div class="event-title-block">
    <div class="container">
      <div class="container-padding">
        <div class="title">
          <h1>События</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="event-content-block">
    <div class="container">
      <div class="events-content-grid">

        <div class="event-small">
          <a [routerLink]='definiteEvent'>
            <img src="../../../assets/images/homeland-page/temp-files/mosque.png" alt="img">
            <p>Что то очень яростое и крутое на этом фото</p>
          </a>
        </div>
        <div class="event-small">
          <img src="../../../assets/images/homeland-page/temp-files/mosque.png" alt="img">
          <p>Что то очень яростое и крутое на этом фото</p>
        </div>

      </div>
    </div>
  </div>
</div>

