<div class="event-page">
  <div class="event-title-block">
    <div class="container">
      <div class="container-padding">
        <div class="title">
          <h2>События</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="event-content-block">
    <div class="container">
      <div class="events-content-grid">
        <div *ngFor="let event of events" class="event-item">
          <a routerLink='/event/{{ event.id }}'>
            <div class="event-small">
              <img src="{{ event.image }}" alt="img">
              <p>{{ event.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <img class="pagination-arrow" (click)="onPageChange(currentPage - 1)" [hidden]="currentPage === 1" src="assets/images/icons/scroll/left.svg" alt="left">
    <span class="page">{{ currentPage }}</span>
    <img class="pagination-arrow" (click)="onPageChange(currentPage + 1)" [hidden]="currentPage === totalPages" src="assets/images/icons/scroll/right.svg" alt="left">
  </div>

</div>

