.event-title-block {
  background: url('../../../assets/images/history-page/background/history-background.png') no-repeat center;
  background-size: cover;
  height: 610px;
  margin: 0 0 100px 0;
}

.event-title-block .title h2 {
  font-size: 128px;
  color: white;
}

.event-title-block .container-padding {
  padding: 140px 0;
  text-align:center;
}

.events-content-grid {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.events-content-grid .event-small {
  overflow: hidden;
  border: 2px solid #D8CE7F;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.events-content-grid .event-item {
  width: 380px;
}

.events-content-grid .event-small {
  height: 300px;
}


.events-content-grid .event-small p {
  font-size: 20px;
}

.events-content-grid .event-small img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .event-title-block{
    height: 450px;
  }

  .event-title-block .title h2 {
    font-size: 100px;
  }

  .event-title-block .container-padding {
    padding: 110px 0;
  }

  .events-content-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .events-content-grid .event-item {
    width: 350px;
  }

  .events-content-grid .event-small {
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .event-title-block{
    height: 204px;
    margin: 0 0 30px 0;
  }

  .event-title-block .title h2 {
    font-size: 36px;
  }

  .event-title-block .container-padding {
    padding: 50px 0;
  }

  .events-content-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .events-content-grid .event-item {
    width: 310px;
  }

  .events-content-grid .event-small {
    height: 240px;
  }

  .events-content-grid .event-small img {
    width: 270px;
    height: 180px;
  }

  .events-content-grid .event-small p {
    font-size: 12px;
  }
}
