<div class="event-page">
  <div class="event-title-block">
    <div class="container">
      <div class="container-padding">
        <div class="title">
          <h1>События</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="event-content-block">
    <div class="container">
      <div class="events-content-grid">
        <div *ngFor="let event of events">
          <a routerLink='/event/{{ event.id }}'>
            <div class="event-small">
              <img src="{{ event.image }}" alt="img">
              <p>{{ event.title }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

