
<header class="header">
  <div class="container header-container">
    <nav class="navbar">
      <ul>
        <li class="nav-item">
          <a [href]="mainPageUrl">
            <img [src]="logoUrl" alt="logo">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="aboutPageUrl">о нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="galleryPageUrl">галерея мечетей</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="typesPageUrl">виды работ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="historyPageUrl">история</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="target">контакты</a>
        </li>
      </ul>
    </nav>

    <nav class="mobile-menu">
      <div class="logo">
        <a [href]="mainPageUrl">
          <img [src]="logoUrl" alt="logo">
        </a>
      </div>
      <div class="mobile-navbar">
        <ul>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="aboutPageUrl">о нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="galleryPageUrl">галерея мечетей</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="typesPageUrl">виды работ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="historyPageUrl">история</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" fragment="target">контакты</a>
          </li>
        </ul>
        <img [src]="closeIconUrl" alt="close" onclick="closeMenu()">
      </div>
      <div class="burger-icon" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </nav>
  </div>
</header>

