<header class="header">
  <div class="container header-container">
    <nav class="navbar">
      <ul>
        <li class="nav-item">
          <a [href]="mainPageUrl">
            <img [src]="logoUrl" alt="logo">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="aboutPageUrl">о нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="galleryPageUrl">галерея мечетей</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="typesPageUrl">виды работ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [href]="historyPageUrl">история</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[href]="contactsPageUrl">контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
