.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgb(2, 18, 13, 0.5);
  box-sizing: border-box;
  padding: 25px 0;
}

.header-container {
  display: flex;
}

.navbar {
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none; /* Убирает маркеры у всех элементов списка */
}

.navbar a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.mobile-navbar {
  display: none;
}

.mobile-navbar ul {
  width: 180px;
  padding-left: 15px;
}

.mobile-menu {
  justify-content: space-between;
  width: 100%;
  display: none;
}

.bar {
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
}

.mobile-navbar {
  width: 200px;
  height: 140px;
  background: #011F14;
  position: fixed;
  padding-top: 90px;
  margin-left: 120px;
  display: none;
  justify-content: inherit;
}

.mobile-navbar img {
  width: 15px;
  height: 20px;
  margin-top: 20px;
}

.mobile-navbar a {
  color: #ffffff;
  font-size: 12px;
  line-height: 23px;
}



@media screen and (max-width: 1279px) {
  .navbar a {
    font-size: 20px;
    font-weight: 400;
  }

  .navbar {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    display: none;
  }

  .mobile-menu img {
    width: 93px;
  }

  .header {
    padding: 15px;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-top: 5px;
  }
}
