.achievements-block {
  background-color: #F5F3EF;
  height: 519px;
  padding: 100px 0;
  text-align: center;
}

.achievements-block .achievements {
  margin: 50px 0;
}

.achievements-block .img img {
  width: 180px;
}

@media screen and (max-width: 1279px) {
  .achievements-block {
    height: 450px;
    padding: 50px 0;
  }
}
