<div class="achievements-block">
  <div class="container">
    <div class="achievements-block-title">
      <h2>Достижения</h2>
    </div>



    <p-carousel [value]="achievements" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
      <ng-template let-achievement pTemplate="item">
        <div class="achievement">
          <div class="img">
            <img src="{{ achievement.photo }}" alt="photo">
          </div>
          <div class="text">
            <p>{{ achievement.text }}</p>
          </div>
        </div>
      </ng-template>
    </p-carousel>


  </div>
</div>
