.achievements-block {
  background-color: #F5F3EF;
  height: 519px;
  padding: 100px 0;
  text-align: center;
}

.achievements-block .achievements {
  margin: 50px 0;
}

.achievements-block .img img {
  width: 180px;
}
