<div class="history-page">
  <div class="history-block">
    <div class="container">
      <div class="container-padding">
        <div class="title">
          <h2>История</h2>
        </div>
        <a class="history-routing-a" [routerLink]="homelandPageUrl">
          <div class="a-btn">
            <h3>Туган як</h3>
            <p>История мечетей в Татарстане</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="history-info">
    <div class="container">
      <div class="info-title">
        <h2>{{ history.title }}</h2>
      </div>
      <div [innerHTML]="history.text" class="info-text">
<!--        <p>{{ history.text }}</p>-->
      </div>
    </div>
  </div>
</div>
