<main class="project-types-page">
  <div class="project-types-block">
    <div class="container">
      <div class="title">
        <h2>Виды работ</h2>
      </div>
      <div class="types-grid">
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты малоэтажной<br>застройки</p>
          </div>
        </div>
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты  торговых<br>комплексов</p>
          </div>
        </div>
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты мечетей</p>
          </div>
        </div>
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты промышленных<br>объектов</p>
          </div>
        </div>
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты интерьеров</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
