<main class="project-types-page">
  <div class="project-types-block">
    <div class="container">
      <div class="title">
        <h2>Виды работ</h2>
      </div>
      <div class="types-grid">
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты малоэтажной<br>застройки</p>
          </div>
        </div>
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты  торговых<br>комплексов</p>
          </div>
        </div>
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты мечетей</p>
          </div>
        </div>
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты интерьеров</p>
          </div>
        </div>
        <div class="types-item">
          <div class="type">
            <img [src]="buildIconUrl" alt="build">
            <p>проекты промышленных<br>объектов</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="house-block">
    <div class="container">
      <div class="main-img">
        <img [src]="houseMainImgUrl" alt="house">
      </div>
      <div class="house-block-text">
        <div class="title">
          <h2>Проекты малоэтажной застройки</h2>
        </div>
        <div class="text">
          <p>
            Проекты малоэтажной застройки включают в себя различные варианты домов и коттеджей,
            которые строятся в один или два этажа. Такие проекты могут быть как типовыми,
            так и индивидуальными, разработанными с учетом пожеланий заказчика; реализуются в
            различны архитектурных стилях: классический, современный, скандинавский, прованс и другие.
          </p>
        </div>
      </div>
      <div class="grid-img">
        <img [src]="houseGridImgUrl" alt="house">
      </div>
      <div class="grid-img2">
        <img [src]="houseGridImgUrl2" alt="house">
      </div>
    </div>
  </div>

  <div class="mall-block">
    <div class="container">
      <div class="mall-main">
        <div class="title title1">
          <h2>Проекты торговых комплексов</h2>
        </div>
        <div class="mall-text">
          <div class="title title2">
            <h2>Проекты торговых комплексов</h2>
          </div>
          <div class="text">
            <p>
              Мы занимаемся проектированием торговых комплексов. Наши проекты отличаются продуманной планировкой,
              качественным исполнением и учетом всех потребностей будущих арендаторов.
              Мы работаем с объектами различных размеров и уровней сложности, от небольших районных торговых центров до крупных городских моллов.
            </p>
            <p>
              Разработка концепции торгового центра, определение его размера, количества магазинов и развлечений.
            </p>
            <p>
              Создание дизайна интерьера, включая оформление магазинов, ресторанов, развлекательных зон и общественных пространств.
            </p>
          </div>
        </div>
        <div class="main-img">
          <img [src]="malImg3Url" alt="mall">
          <img [src]="malImg2Url" alt="mall">
        </div>
      </div>
      <div class="mall-img">
        <img [src]="malImg1Url" alt="mall">
      </div>
    </div>
  </div>

  <div class="factory-block">
    <div class="container">
      <div class="main-img">
        <img [src]="factoryMainImgUrl" alt="factory">
      </div>
      <div class="factory-block-text">
        <div class="title">
          <h2>Проекты<br>промышленных<br>объектов</h2>
        </div>
        <div class="text">
          <p>
            Мы занимаемся проектированием промышленных объектов уже много лет. За это время мы накопили огромный опыт и знания,
            которые позволяют нам создавать проекты, отвечающие самым высоким требованиям наших клиентов.
            Мы работаем как с небольшими предприятиями, так и с крупными заводами и фабриками.
            Наши проекты отличаются высокой надежностью и эффективностью, а также учитывают все стандарты безопасности.
          </p>
        </div>
      </div>
      <div class="grid-img">
        <img [src]="factoryGridImgUrl" alt="factory">
      </div>
    </div>
  </div>

  <div class="interior-block">
    <div class="container">
      <div class="interior-flex">
        <div class="interior-text-img">
          <div class="title">
            <h2>Проекты интерьеров</h2>
          </div>
          <div class="text">
            <p>
              “Оста” предлагает услуги по разработке интерьера. Наши специалисты помогут вам создать уютное и функциональное пространство,
              которое будет отражать выбранное вами настроение и соответствовать вашим пожеланиям.
            </p>
            <p>
              Мы предлагаем широкий спектр услуг, включая разработку дизайна интерьера, подбор материалов и мебели,
              а также консультации по вопросам освещения, акустики и других технических аспектов.
            </p>
            <p>
              Наша команда профессионалов имеет многолетний опыт работы в области архитектуры и дизайна,
              что позволяет нам создавать уникальные интерьеры, отвечающие всем требованиям и нормам.
            </p>
          </div>
          <div class="grid-img">
            <img [src]="interiorGridImgUrl" alt="interior">
          </div>
        </div>
        <div class="main-img">
          <img [src]="interiorMainImgUrl" alt="interior">
        </div>
      </div>
      <div class="grid-img2">
        <img [src]="interiorGridImgUrl2" alt="interior">
      </div>
    </div>
  </div>
</main>
