.title h2 {
  margin: 15px 0;
}




.project-types-block {
  background: url('../../../assets/images/project-types-page/project-types-block/background/project-types-background.svg') center;
  height: 990px;
  background-size: cover;
  box-sizing: border-box;
}

.project-types-block .title {
  padding-top: 230px;
}

.project-types-block h2,
.project-types-block p {
  color: white;
}

.project-types-block .type {
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .project-types-block .types-grid {
    width: 600px;
    margin-top: 100px;
    gap: 40px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* две колонки. 1fr гарантирует, что каждая колонка займет равную часть.*/
  }
}

@media screen and (max-width: 1279px) {
  .project-types-block .types-grid {
    width: 450px;
    margin-top: 70px;
    gap: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-types-block {
    height: 732px;
  }

  .project-types-block .title {
    padding-top: 160px;
  }

  .project-types-block .types-grid .types-item:nth-child(3) {
    margin-right: calc(50%);
  }

  .project-types-block .types-item {
    width: 180px;
  }
}


@media screen and (max-width: 767px) {
  .project-types-block {
    height: 317px;
  }

  .project-types-block .types-grid {
    width: 250px;
    margin-top: 0;
    gap: 10px 0;
  }

  .project-types-block .title {
    padding-top: 50px;
  }

  .project-types-block p {
    font-size: 10px;
    line-height: 15px;
    margin-top: 0;
  }
  .project-types-block .types-item img {
    width: 20px;
    height: 20px;
  }

  .project-types-block .types-item {
    width: 120px;
  }
}






.house-block {
  background-color: #F2FAF7;
}

.house-block .container {
  padding: 100px 0;
}

.house-block-text {
  display: flex;
  align-items: center;
}

.house-block .text {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

@media screen and (min-width: 1280px) {
  .house-block .grid-img2 {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .house-block .main-img img {
    width: 724px;
    height: 439px;
  }

  .house-block .text {
    margin-left: 30px;
  }

  .house-block .grid-img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .house-block .main-img img {
    height: 115px;
  }

  .house-block .grid-img {
    display: block;
    margin-top: 15px;
  }

  .house-block .grid-img2 {
    display: none;
  }

  .house-block .grid-img img {
    height: 60px;
  }

  .house-block .house-block-text {
    display: block;
  }

  .house-block .text {
    margin-left: 0;
  }

  .house-block .container {
    padding: 30px 0;
  }
}




.mall-block {
  background-color: #001A25;
  height: 986px;
  color: white;
}

.mall-block .container {
  padding: 100px 0;
}

.mall-block .mall-main {
  display: flex;
  align-items: center;
}



.mall-block .main-img {
  display: grid;
  gap: 20px;
}

.mall-block .mall-img {
  margin-top: 20px;
}

@media screen and (min-width: 1280px) {
  .mall-block .text{
    padding-right: 80px;
  }

  .mall-block .title1 {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .mall-block {
    height: 1330px;
  }

  .mall-block .mall-main {
    flex-wrap: wrap;
  }

  .mall-block .main-img {
    width: 100%;
  }

  .mall-block .main-img img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  .mall-block .mall-text {
    order: 2;
    padding: 10px 0;
  }

  .mall-block .title2 {
    display: none;
  }

  .mall-block .title1 {
    margin-bottom: 10px;
  }

  .mall-block .mall-img img {
    width: 100%;
    height: 216px;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .mall-block .mall-img img {
    height: 112px;
  }

  .mall-block .main-img img:first-child {
    height: 174px;
  }

  .mall-block .main-img img:last-child {
    height: 158px;
  }

  .mall-block {
    height: 893px;
  }

  .mall-block .container {
    padding: 30px 0;
  }

  .mall-block .title1 {
    margin-bottom: 0;
  }

  .mall-block .mall-img {
    margin-top: 0;
  }

  .mall-block .main-img {
    gap: 15px;
  }
}





.factory-block .container {
  padding: 100px 0;
}

.factory-block-text {
  display: flex;
  align-items: center;
}

.factory-block .text {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

@media screen and (max-width: 1279px) {
  .factory-block .container {
    display: flex;
    flex-wrap: wrap;
  }

  .factory-block .main-img {
    order: 3;
  }

  .factory-block .factory-block-text {
    order: 2;
  }

  .factory-block .grid-img {
    order: 1;
    width: 100%;
  }

  .factory-block .main-img img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }

  .factory-block .grid-img img {
    width: 100%;
    height: 439px;
    object-fit: cover;
  }

  .factory-block .text {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .factory-block .container {
    padding: 30px 0;
  }

  .factory-block .grid-img img {
    height: 105px;
  }

  .factory-block .main-img img {
    height: 91px;
  }

  .factory-block-text {
    display: block;
  }

  .factory-block h2 {
    font-size: 21.5px;
  }

  .factory-block .text {
    margin-left: 0;
  }

  .factory-block .title h2 {
    margin: 10px -10px 0 0;
  }
}





.interior-block {
  background-color: #001A25;
  height: 950px;
  color: white;
}

.interior-block .container {
  padding: 100px 0;
}

.interior-block .interior-flex {
  display: flex;
}

.interior-block .interior-text-img {
  display: grid;
  align-content: space-between;
}

.interior-block .text {
  padding-right: 100px;
}

@media screen and (min-width: 1280px) {
  .interior-block .grid-img2  {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .interior-block .main-img img {
    width: 268px;
    height: 419px
  }

  .interior-block .grid-img  {
    display: none;
  }

  .interior-block .text {
    padding-right: 30px;
  }

  .interior-block .grid-img2 img  {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .interior-block .container {
    padding: 30px 0;
  }

  .interior-block .interior-flex {
    display: block;
  }

  .interior-block .grid-img2  {
    display: none;
  }

  .interior-block .title  {
    order: 1;
  }

  .interior-block .text  {
    order: 3;
    padding-right: 0;
  }

  .interior-block .grid-img  {
    display: block;
    order: 2;
  }

  .interior-block .main-img img {
    height: 358px
  }

  .interior-block {
    height: 820px;
  }
}







@media screen and (max-width: 767px) {
  .main-img img,
  .grid-img img,
  .grid-img2 img {
    width: 310px !important;
  }
}
