<main class="main-page">
  <div class="main-block">
    <div class="container">
      <div class="main-block-text-img">
        <div class="main-block-img">
          <img [src]="sliderImgUrl" alt="sliderImg">
        </div>
        <div class="main-block-text">
          <div class="title">
            <img [src]="titleImgUrl" alt="titleImg">
          </div>
          <div class="text">
            <p>проектирование и конструирование<br>комфортных мечетей по канонам<br>ислама</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-block">
    <div class="container">
      <div class="about-block-text-img">
        <div class="about-block-text">
          <div class="title">
            <h2>О нас</h2>
          </div>
          <div class="text">
            <p>Наша компания — это ассоциация архитекторов и конструкторов. Нас объединяет общее дело — это создание комфортных, правильно спроектированных, согласно канонам ислама, мечетей. Мы знаем, как проектировать, как строить и как вести работу.</p>
            <p>Мы предлагаем вам наши услуги в сфере проектирования мечетей, медресе, зданий для омовений и омовений усопших, трапезных и халяль кафе, магазинов исламской атрибутики, родников.</p>
            <p>Вы можете выбрать из уже готовых проектов, который вам подходит. При необходимости мы можем внести изменения в тот проект, который вам понравился или вы можете заказать у нас новый проект мечети, который будет спроектирован по вашим желаниям под ваши условия.</p>
          </div>
        </div>
        <div class="about-block-img">
          <img [src]="aboutImgUrl" alt="aboutImgUrl">
        </div>
      </div>
      <div class="about-grid">
        <div class="grid-item">
          <img [src]="aboutIcon1Url" alt="icon">
          <div class="title">
            <h3>проектирование мечетей</h3>
          </div>
          <div class="text">
            <p>и медресе, а также сопутствующей<br>инфраструктуры с соблюдением<br>всех правил</p>
          </div>
        </div>
        <div class="grid-item">
          <img [src]="aboutIcon2Url" alt="icon">
          <div class="title">
            <h3>19 лет опыта</h3>
          </div>
          <div class="text">
            <p>мы занимаемся проектированием<br>мечетей с 2005 г. по сей день,<br>накопили немалый опыт. </p>
          </div>
        </div>
        <div class="grid-item">
          <img [src]="aboutIcon3Url" alt="icon">
          <div class="title">
            <h3>более 30 объектов</h3>
          </div>
          <div class="text">
            <p>построены на сегодняйшний день и<br>несколько проектов на этапе<br>реализации</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="events-block">
    <div class="container">

    </div>
  </div>

  <app-achievements></app-achievements>

  <div class="review-block">
    <div class="container">

    </div>
  </div>

  <div class="contact-block" id="target">
    <div class="container">
      <div class="contact-block-title">
        <h2>Контакты</h2>
      </div>
      <div class="contacts">
        <div class="send-email">
          <div class="title">
            <p>Оставьте заявку</p>
          </div>
          <div class="text">
            <p>и мы обязательно свяжемся с вами</p>
          </div>
          <div class="name">

          </div>
          <div class="number">

          </div>
          <div class="email">

          </div>
          <div class="button">

          </div>
          <div class="agreement">

          </div>
        </div>
        <div class="contact-information">
          <div class="information">
            <div class="phones">
              <div class="phone-first phone">
                <a href="tel:+79274823366">
                  <img [src]="contactPhoneIconUrl" alt="phone">
                  <p>8-927-482-33-66</p>
                </a>
              </div>
              <div class="phone-second phone">
                <a href="tel:+79274117279">
                  <img [src]="contactPhoneIconUrl" alt="phone">
                  <p>8-927-411-72-79</p>
                </a>
              </div>
            </div>
            <div class="email">
              <a href="mailto:osta_llc@mail.ru?subject=Вопрос&body=Здравствуйте!">
                <img [src]="contactEmailIconUrl" alt="email">
                <p>osta_llc&#64;mail.ru</p>
              </a>
            </div>
            <div class="address">
              <a href="https://yandex.ru/maps/?text=адрес">
                <img [src]="contactMapIconUrl" alt="address">
                <p>г. Казань, ул. Ваша улица, 1, офис 1</p>
              </a>
            </div>
            <div class="social-networks">
              <div class="WhatsApp">
                <a href="https://wa.me/">
                  <img [src]="contactWhatsAppIconUrl" alt="WhatsApp">
                </a>
              </div>
              <div class="telegram">
                <a href="https://t.me/">
                  <img [src]="contactTelegramIconUrl"alt="Telegram">
                </a>
              </div>
            </div>
          </div>
          <div class="map">
<!--            <img [src]="contactMapIconUrl" alt="Map">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
