<main class="main-page">
  <div class="main-block">
    <div class="container">
      <div class="main-block-text-img">
        <div class="main-block-img">
          <div *ngIf="currentImage" class="fade-in-out" [class.fade-out]="!showImage">
            <img [src]="currentImage" alt="Image">
          </div>
<!--          <img [src]="sliderImgUrl" alt="sliderImg">-->
        </div>
        <div class="main-block-text">
          <div class="title">
            <img [src]="titleImgUrl" alt="titleImg">
          </div>
          <div class="text">
            <p>проектирование и конструирование<br>комфортных мечетей по канонам<br>ислама</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-block">
    <div class="container">
      <div class="about-block-text-img">
        <div class="about-block-text">
          <div class="title">
            <h2>О нас</h2>
          </div>
          <div class="text">
            <p>Наша компания — это ассоциация архитекторов и конструкторов. Нас объединяет общее дело — это создание комфортных, правильно спроектированных, согласно канонам ислама, мечетей. Мы знаем, как проектировать, как строить и как вести работу.</p>
            <p>Мы предлагаем вам наши услуги в сфере проектирования мечетей, медресе, зданий для омовений и омовений усопших, трапезных и халяль кафе, магазинов исламской атрибутики, родников.</p>
            <p>Вы можете выбрать из уже готовых проектов, который вам подходит. При необходимости мы можем внести изменения в тот проект, который вам понравился или вы можете заказать у нас новый проект мечети, который будет спроектирован по вашим желаниям под ваши условия.</p>
          </div>
        </div>
        <div class="about-block-img">
          <img [src]="aboutImgUrl" alt="aboutImgUrl">
        </div>
      </div>
      <div class="about-grid">
        <div class="grid-item">
          <img [src]="aboutIcon1Url" alt="icon">
          <div class="title">
            <h3>проектирование мечетей</h3>
          </div>
          <div class="text">
            <p>и медресе, а также сопутствующей<br>инфраструктуры с соблюдением<br>всех правил</p>
          </div>
        </div>
        <div class="grid-item">
          <img [src]="aboutIcon2Url" alt="icon">
          <div class="title">
            <h3>19 лет опыта</h3>
          </div>
          <div class="text">
            <p>мы занимаемся проектированием<br>мечетей с 2005 г. по сей день,<br>накопили немалый опыт. </p>
          </div>
        </div>
        <div class="grid-item">
          <img [src]="aboutIcon3Url" alt="icon">
          <div class="title">
            <h3>более 30 объектов</h3>
          </div>
          <div class="text">
            <p>построены на сегодняйшний день и<br>несколько проектов на этапе<br>реализации</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="events-block">
    <div class="container">
      <div class="events-grid">
        <a routerLink='/event/{{ events.length }}'>
          <div class="event-grid-item" *ngIf="events.length > 0">
            <div class="img">
              <img src="{{ events[events.length - 1].image }}" alt="event">
            </div>
            <div class="text">
              <p>{{ events[events.length - 1].title }}</p>
            </div>
          </div>
        </a>
        <a routerLink='/event/{{ events.length - 1 }}'>
          <div class="event-grid-item" *ngIf="events.length > 1">
            <div class="img">
              <img src="{{ events[events.length - 2].image }}" alt="event">
            </div>
            <div class="text">
              <p>{{ events[events.length - 2].title }}</p>
            </div>
          </div>
        </a>
        <a routerLink='/event/{{ events.length - 2 }}'>
          <div class="event-grid-item" *ngIf="events.length > 2">
            <div class="img">
              <img src="{{ events[events.length - 3].image }}" alt="event">
            </div>
            <div class="text">
              <p>{{ events[events.length - 3].title }}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="all-event-link">
        <a [routerLink]="eventRouting">все события...</a>
      </div>
    </div>
  </div>

  <app-achievements></app-achievements>

  <div class="review-block">
    <div class="container">
      <div *ngIf="reviews.length > 0" class="reviews">
        <div class="first-block review">
          <div class="text">
            {{ reviews[currentIndex].text }}
          </div>
          <div class="title">
            {{ reviews[currentIndex].author }}
          </div>
          <div>
            <img [src]="reviewLogoUrl" alt="logo">
          </div>
        </div>
        <div class="second-block review">
          <div class="text">
            {{ reviews[currentIndex2].text }}
          </div>
          <div class="title">
            {{ reviews[currentIndex2].author }}
          </div>
          <div>
            <img [src]="reviewLogoUrl" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-block" id="target">
    <div class="container">
      <div class="contact-block-title">
        <h2>Контакты</h2>
      </div>
      <div class="contacts">
        <div class="send-email">
          <div class="title">
            <p>Оставьте заявку</p>
          </div>
          <div class="text">
            <p>и мы обязательно свяжемся с вами</p>
          </div>
          <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
            <label for="name">
              <div class="input-container">
                <img [src]="formNameIconUrl" alt="name">
                <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Имя" required>
              </div>
            </label>
            <label for="phone">
              <div class="input-container">
                <img [src]="formPhoneIconUrl" alt="phone">
                <input type="tel" id="phone" name="phone" [(ngModel)]="phone" placeholder="+7 999 999-99-99" required>
<!--                Номер телефона-->
              </div>
            </label>
            <label for="email">
              <div class="input-container">
                <img [src]="formEmailIconUrl" alt="email">
                <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="E-mail" required>
              </div>
            </label>
            <button type="submit">Отправить</button>
            <label for="agree" class="agree-label">
              <input type="checkbox" id="agree" name="data_transfer_condition" [(ngModel)]="data_transfer_condition" required>
              Соглашаюсь с условиями передачи данных
            </label>
          </form>
          </div>

        <div class="contact-information">
          <div class="information">
            <div class="phones">
              <div class="phone-first phone">
                <a href="tel:+79178958592">
                  <img [src]="contactPhoneIconUrl" alt="phone">
                  <p>8-927-482-33-66</p>
                </a>
              </div>
              <div class="phone-second phone">
                <a href="tel:+79178958592">
                  <img [src]="contactPhoneIconUrl" alt="phone">
                  <p>8-927-411-72-79</p>
                </a>
              </div>
            </div>
            <div class="email">
              <a href="mailto:osta_llc@mail.ru?subject=Вопрос&body=Здравствуйте!">
                <img [src]="contactEmailIconUrl" alt="email">
                <p>osta_llc&#64;mail.ru</p>
              </a>
            </div>
            <div class="address">
              <a href="https://yandex.ru/maps/43/kazan/house/ulitsa_amirkhana_yeniki_17b/YEAYdwJiTUIGQFtvfXt5dXpgZw==/?from=mapframe&ll=49.152470%2C55.784633&z=17">
                <img [src]="contactMapIconUrl" alt="address">
                <p>г. Казань, Амирхана Еники, 17Б</p>
              </a>
            </div>
            <div class="social-networks">
              <div class="WhatsApp">
                <a href="https://wa.me/+79178958592">
                  <img [src]="contactWhatsAppIconUrl" alt="WhatsApp">
                </a>
              </div>
              <div class="telegram">
                <a href="https://web.telegram.org/a/#1799097248">
                  <img [src]="contactTelegramIconUrl"alt="Telegram">
                </a>
              </div>
            </div>
          </div>
          <div class="map">
            <div style="position:relative;overflow:hidden;">
              <iframe src="https://yandex.ru/map-widget/v1/?ll=49.152470%2C55.784633&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgk3Njk0NjI4NDUScdCg0L7RgdGB0LjRjywg0KDQtdGB0L_Rg9Cx0LvQuNC60LAg0KLQsNGC0LDRgNGB0YLQsNC9LCDQmtCw0LfQsNC90YwsINGD0LvQuNGG0LAg0JDQvNC40YDRhdCw0L3QsCDQldC90LjQutC4LCAxN9CRIgoNIZxEQhV3I19C&z=17.11"
                      width="500" height="225"  style="position:relative; border:none;">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
