@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/monserrat/montserrat-400.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/monserrat/montserrat-600.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/monserrat/montserrat-700.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/monserrat/montserrat-900.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(assets/fonts/monserrat/montserrat-300.woff2) format('woff2');
}

@font-face {
  font-family: Cotlin;
  src: url(assets/fonts/tt-cotlin/TT-Cotlin.otf) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: Cotlin;
  src: url(assets/fonts/tt-cotlin/TT-Cotlin_Bl.otf) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal
}



@font-face {
  font-display: swap;
  font-family: 'Mplus';
  font-style: normal;
  font-weight: 300;
  src: url(assets/fonts/mplus/MPLUS1p-Light.ttf) format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Mplus';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/mplus/MPLUS1p-Regular.ttf) format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Mplus';
  font-style: normal;
  font-weight: 500;
  src: url(assets/fonts/mplus/MPLUS1p-Medium.ttf) format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Mplus';
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/mplus/MPLUS1p-Bold.ttf) format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Mplus';
  font-style: normal;
  font-weight: 800;
  src: url(assets/fonts/mplus/MPLUS1p-ExtraBold.ttf) format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Mplus';
  font-style: normal;
  font-weight: 900;
  src: url(assets/fonts/mplus/MPLUS1p-Black.ttf) format('ttf');
}



:root {
  color-scheme: only light
}

::-moz-selection { /* для Mozilla*/
  background-color: #000;
  color: #fff
}

::selection {
  background-color: #000;
  color: #fff
}

:focus {
  outline: 0
}

body {
  overflow-x: hidden; /* Содержимое переполнения при необходимости обрезается */
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Mplus', sans-serif;
  color: #000000;
  line-height: 1.25
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-size: 48px;
  font-weight: 900;
}


.p-carousel-content ul {
  display: none !important;
}

.p-carousel-prev, .p-carousel-next {
  border: none ;
  background-color: #F5F3EF;
}






