<div class="homeland-page">
  <div class="homeland-block">
    <div class="container">
      <div class="container-padding">
        <div class="title">
          <h1>Туган Як</h1>
        </div>
        <div class="description">
          <h1>
            История мечтей в Татарстане
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="homeland-content">
    <div class="container">
      <div *ngFor="let content of homeland">
        <div class="content-img-slider">
          <div class="temp-flex">
            <div *ngFor="let image of content.images">
              <div class="temp-image">
                <img [src]="image.src">
              </div>
            </div>
          </div>
        </div>
        <div class="content-description">
          <h2>
            {{ content.title }}
          </h2>
          <p>
            {{ content.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

